 .sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow-breadcrumbs {
    width: 4px;
    height: 7px;
    background-position: -20px -20px;
}

.sprite-basket-peace {
    width: 12px;
    height: 12px;
    background-position: -20px -67px;
}

.sprite-basket-yellow-hover {
    width: 12px;
    height: 12px;
    background-position: -20px -119px;
}

.sprite-basket-yellow-peace {
    width: 12px;
    height: 12px;
    background-position: -20px -171px;
}

.sprite-compare-peace {
    width: 10px;
    height: 10px;
    background-position: -20px -223px;
}

.sprite-compare-yellow-hover {
    width: 10px;
    height: 10px;
    background-position: -20px -273px;
}

.sprite-compare-yellow-peace {
    width: 10px;
    height: 10px;
    background-position: -20px -323px;
}

.sprite-facebook-hover {
    width: 39px;
    height: 38px;
    background-position: -20px -373px;
}

.sprite-htmlacademy-logo-hover {
    width: 27px;
    height: 34px;
    background-position: -20px -451px;
}

.sprite-htmlacademy-logo-peace {
    width: 27px;
    height: 34px;
    background-position: -20px -525px;
}

.sprite-insta-hover {
    width: 39px;
    height: 38px;
    background-position: -20px -599px;
}

.sprite-login-peace {
    width: 13px;
    height: 12px;
    background-position: -20px -677px;
}

.sprite-login-yellow-hover {
    width: 13px;
    height: 12px;
    background-position: -20px -729px;
}

.sprite-login-yellow-peace {
    width: 13px;
    height: 12px;
    background-position: -20px -781px;
}

.sprite-search {
    width: 16px;
    height: 16px;
    background-position: -20px -833px;
}

.sprite-twitter-hover {
    width: 38px;
    height: 38px;
    background-position: -20px -889px;
}

.sprite-z-checkbox {
    width: 12px;
    height: 7px;
    background-position: -20px -967px;
}

.sprite-z-close {
    width: 23px;
    height: 22px;
    background-position: -20px -1014px;
}
