.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow-breadcrumbs {
    width: 4px;
    height: 7px;
    background-position: -20px -20px;
}

.sprite-arrow-down-active {
    width: 17px;
    height: 9px;
    background-position: -20px -67px;
}

.sprite-basket-peace {
    width: 12px;
    height: 12px;
    background-position: -20px -116px;
}

.sprite-basket-yellow-hover {
    width: 12px;
    height: 12px;
    background-position: -20px -168px;
}

.sprite-basket-yellow-peace {
    width: 12px;
    height: 12px;
    background-position: -20px -220px;
}

.sprite-circle-small-active {
    width: 12px;
    height: 12px;
    background-position: -20px -272px;
}

.sprite-compare-peace {
    width: 10px;
    height: 10px;
    background-position: -20px -324px;
}

.sprite-compare-yellow-hover {
    width: 10px;
    height: 10px;
    background-position: -20px -374px;
}

.sprite-compare-yellow-peace {
    width: 10px;
    height: 10px;
    background-position: -20px -424px;
}

.sprite-facebook-hover {
    width: 39px;
    height: 38px;
    background-position: -20px -474px;
}

.sprite-htmlacademy-logo-hover {
    width: 27px;
    height: 34px;
    background-position: -20px -552px;
}

.sprite-htmlacademy-logo-peace {
    width: 27px;
    height: 34px;
    background-position: -20px -626px;
}

.sprite-insta-hover {
    width: 39px;
    height: 38px;
    background-position: -20px -700px;
}

.sprite-login-peace {
    width: 13px;
    height: 12px;
    background-position: -20px -778px;
}

.sprite-login-yellow-hover {
    width: 13px;
    height: 12px;
    background-position: -20px -830px;
}

.sprite-login-yellow-peace {
    width: 13px;
    height: 12px;
    background-position: -20px -882px;
}

.sprite-plus-peace {
    width: 16px;
    height: 16px;
    background-position: -20px -934px;
}

.sprite-search {
    width: 16px;
    height: 16px;
    background-position: -20px -990px;
}

.sprite-toggle-actve {
    width: 20px;
    height: 23px;
    background-position: -20px -1046px;
}

.sprite-toggle-peace {
    width: 14px;
    height: 14px;
    background-position: -20px -1109px;
}

.sprite-twitter-hover {
    width: 38px;
    height: 38px;
    background-position: -20px -1163px;
}

.sprite-z-checkbox {
    width: 12px;
    height: 7px;
    background-position: -20px -1241px;
}

.sprite-z-close {
    width: 23px;
    height: 22px;
    background-position: -20px -1288px;
}
