html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/gilroyextrabold.woff") format('woff'), url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight.woff") format('woff'), url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn {
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  background-image: linear-gradient(#ffffff, #ffffff 18px, #f0c52e 18px, #f0c52e 26px, #ffffff 26px, #ffffff);
  /*background-color: #f0c52e;*/
  /*background-size: 2px;*/
}

.btn:hover {
  background-image: none;
  background-color: #f0c52e;
}

.btn:active {
  background-image: none;
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.content-wrapper,
.service-container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 45px;
  padding-top: 16px;
  /*background-color: rgba(240, 197, 46, 0.5);*/
  background-image: linear-gradient(#ffffff, #ffffff 41px, rgba(240, 197, 46, 0.5) 41px, rgba(240, 197, 46, 0.5));
}

.header-logo__link {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo__link:hover {
  color: #464646;
}

.header-logo__link:active {
  color: #666666;
}

.page-header .top-menu {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  list-style: none;
  /*background-color: tan;*/
}

.top-menu a {
  color: #000000;
  text-decoration: none;
}

.top-menu .search-block {
  width: 444px;
  margin-right: auto;
  /*background-color: pink;*/
}

.search-block input[type="search"] {
  width: 355px;
  margin: 0;
  padding-top: 4px;
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.3);
  line-height: 36px;
  background-color: transparent;
  border: none; 
}

.search-block input[type="search"]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-block input[type="search"]:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
  outline: 0;
}

label[for="search-field"] {
  position: relative;
}

label[for="search-field"]::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/sprites.png");
  background-position: -20px -1787px;
  background-repeat: no-repeat;
}

.top-menu .user-block {
  width: 270px;
  padding-top: 7px;
  padding-left: 28px;
  /*background-color: plum;*/
}

.compare-block {
  padding-top: 7px;
  padding-left: 39px;
  width: 130px;
  /*background-color: silver;*/
}

.basket-block {
  width: 100px;
  padding-top: 7px;
  padding-left: 40px;
  /*background-color: khaki;*/
}

.user-block__link,
.compare-block__link,
.basket-block__link {
  position: relative;
}

.top-menu .user-block__link_logout {
  color: rgba(0, 0, 0, 0.3);
  /*background-color: pink;*/
}

.user-block__link_login {
  margin-right: 18px;
}

.top-menu .user-block__link:hover,
.top-menu .compare-block__link:hover,
.top-menu .basket-block__link:hover {
  opacity: 0.6;
}


.top-menu .user-block__link:active,
.top-menu .compare-block__link:active,
.top-menu .basket-block__link:active {
  opacity: 0.3;
}

.user-block__link:active,
.compare-block__link:active,
.basket-block__link:active {
  opacity: 0.3;
}

.user-block__link::before,
.compare-block__link::before,
.basket-block__link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/sprites.png");
}

.top-menu .user-block__link:not(.user-block__link_logout)::before {
  left: -26px;
  background-position: -20px -1315px;
}

.top-menu .compare-block__link::before {
  top: 6px;
  left: -20px;
  background-position: -20px -861px;
}

.top-menu .basket-block__link::before {
  left: -22px;
  background-position: -20px -116px;
}

.top-menu .user-block__link:hover::before,
.top-menu .compare-block__link:hover::before,
.top-menu .basket-block__link:hover::before {
  opacity: 0.6;
}

.user-block__link:active::before,
.compare-block__link:active::before,
.basket-block__link:active::before {
  opacity: 0.3;
}

.btn-search {
  visibility: hidden;
  width: 85px;
  margin-left: -5px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
}

.btn-search:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn-search:active {
  visibility: visible;
  color: rgba(255, 255, 255, 0.6);
  background-color: #000000;
}

.search-block input[type="search"]:focus + .btn-search {
  visibility: visible;
}

.page-header .bottom-menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  /*background-color: pink;*/
}

.bottom-menu .menu-catalog {
  position: relative;
  width: 300px;
  margin-right: auto;
}

.bottom-menu .menu-catalog__link {
  position: relative;
}

.bottom-menu .menu-catalog__link::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  right: -30px;
  /*background-color: lime;*/
  background-image: url("../img/sprites.png");
  background-position: -20px -1471px;
  background-repeat: no-repeat;

}

.bottom-menu .menu-guarantee {
  margin-left: 35px;
}

.bottom-menu .menu-contacts {
  width: 120px;
  margin-left: 107px;
  /*background-color: lime;*/
}

.page-header .bottom-menu > li > a {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3.5px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header .bottom-menu > li > a:hover {
  opacity: 0.6;
}

.page-header .bottom-menu > li > a:active {
  opacity: 0.3;
}

.sub-menu-container {
  position: absolute;
  top: 60px;
  left: -60px;
  z-index: 20;
  /*visibility: visible;*/
  visibility: hidden;
  display: flex;
  width: 1160px; 
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  background-color: #f7e296;
  transition-property: visibility;
  transition-duration: 0.5s;
}

.menu-catalog:hover .sub-menu-container {
  visibility: visible;
}

.sub-menu-container ul {
  width: 200px;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  list-style: none;
}

.sub-menu-container li {
  margin-bottom: 6px;
}

.sub-menu-container a {
  color: #000000;
  text-decoration: none;
}

.sub-menu-container a:hover {
  opacity: 0.6;
}

.sub-menu-container a:active{
  opacity: 0.3;
}

.sub-menu-container .sub-menu-1 {
  margin-right: 40px;
  /*background-color: plum;*/
}

.sub-menu-container .sub-menu-2 {
  /*background-color: violet;*/
}

.sub-menu-container .sub-menu-3{
  /*background-color: grey;*/
}


                                        /*стилизация слайдера на главной*/
.slider {
  position: relative;
  margin-bottom: 92px;
  /*background-color: tan;*/
  background-image: linear-gradient(rgba(240, 197, 46, 0.5), rgba(240, 197, 46, 0.5) 126px, #ffffff 126px, #ffffff);
}

.slider::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 600px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  /*background-color: red;*/
}

.slider-controls {
  position: absolute;
  top: 343px;
  right: 60px;
  width: 120px;
  height: 10px;
  text-align: center;
  background-color: #40ffff;
}

.slider-controls input {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid #000000;
  vertical-align: top;
}

.slider-controls label:last-of-type {
  margin-right: 0;
}

.slider .slide {
  display: none;
  min-height: 486px;
  /*background-color: violet;*/
}

.slider .slide__item1 {
  display: block;
}

.slider .slider-container {
  display: flex;
  padding-top: 17px;
  padding-left: 20px;
  /*justify-content: space-around;*/
}

.slider-image {
  width: 526px;
  margin-right: 52px;
  /*text-align: center;*/
  /*background-color: pink;*/
}

.slider-image_image1 {
  padding-left: 70px;
}

.slider-image_image2 {
  padding-top: 10px;
  padding-left: 95px;
}

.slider-image_image3 {
  padding-top: 63px;
  padding-left: 11px;
}

.slider-image__picture_picture1 {
  width: 384px;
}

.slider-image__picture_picture2 {
  width: 345px;
}

.slider-image__picture_picture3 {
  width: 526px;
}

.slide-description {
  position: relative;
  width: 510px;
  padding-top: 77px;
  /*background-color: #c7ffff;*/
}

.slide-description__number {
  position: absolute;
  right: -5px;
  top: -18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #ffffff;
  font-size: 179px;
  line-height: 179px;
}

.slide-description__title {
  position: relative;
  z-index: 1;
  margin-bottom: 17px;
  font-size: 47px;
  line-height: 57px;
  color: #000000;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  letter-spacing: 0.9px;
}

.slide-description__text {
  margin-bottom: 48px;
}

.slide-description__text_text1 {
  width: 479px;
}

.slide-description__text_text2 {
  width: 446px;
}

.slide-features {
  display: flex;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-features li {
  width: 160px;
  margin-top: 61px;
  /*background-color: #ffffa9;*/
}

.slide-features li:nth-of-type(2) {
  width: 140px;
}

.slide-features p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: "GilroyLight", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.slide-features span {
  font-size: 13px;
}
/*////////////////////////////////////////////////////////оформление раздела popular*/
.popular {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
  /*background-color: grey;*/
}

.popular_item {
  width: 160px;
  padding-top: 197px;
}

.popular_item__link {
  position: relative;
  display: inline-block;
  width: 126px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  vertical-align: top;
  /*background-color: plum;*/
}

.popular_item__link::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: -195px;
  left: 0;
  background-color: rgba(240, 197, 46, 0.5);

}

.popular_item__link::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: -195px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.popular_item__link_1::after {
  background-image: url("../img/virtual.png");
}

.popular_item__link_2::after {
  background-image: url("../img/monopods.png");
  background-position: center bottom;
} 

.popular_item__link_3::after {
  background-image: url("../img/camera.png");
}

.popular_item__link_4::after {
  background-image: url("../img/bracelet.png");
}

.popular_item__link_5::after {
  background-image: url("../img/watch.png");
}

.popular_item__link_6::after {
  background-image: url("../img/quadrupter.png");
}

.popular_item__link:hover::before {
  background-color: #f0c52e;
}

.popular_item__link:active::before {
  background-color: #f0c52e;
}

.popular_item__link:active::after {
  opacity: 0.3;
}

.popular_item__link:active {
  opacity: 0.3;
}

/*///////////////////////////////////////////оформление второго слайдера */

.service {
  background-color: #e5e5e5;
  margin-bottom: 70px;
}

.service-container {
  display: flex;
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 55px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 70px;
  /*justify-content: space-between;*/
  /*background-color: khaki;*/
}

.service-slides {
  width: 720px;
  /*background-color: tan;*/
}

.service-slide {
  display: none;
  padding-top: 21px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  /*background-color: pink;*/
}

.service-slide_2 {
  display: block;
}

.service-slide_1 {
  background-image: url("../img/delivery-slide.png");
  background-position: 560px 10px;
}

.service-slide_2 {
  background-image: url("../img/warranty-slide.png");
  background-position: 544px 5px;
}

.service-slide_3 {
  background-image: url("../img/credit-slide.png");
  background-position: 534px 5px;
}

.service-controls {
  width: 284px;
  margin-right: 118px;
}

.service-menu {
  position: relative;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  list-style: none;
  /*background-color: #fffaaa;*/
}

.service-menu::after {
  content: "";
  position: absolute;
  top: -55px;
  right: 0;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.service-menu__item {
  display: block;
  width: 278px;
  margin-bottom: 26px;
  /*text-align: left;*/
  /*text-align: center;*/
  /*background-color: plum;*/
}

.service-menu__link {
  display: inline-block;
  width: 160px;
  padding-left: 0;
  padding-right: 0;
  padding-left: 7px;
  padding-top: 11px;
  padding-bottom: 10px;
  vertical-align: top;
  text-align: center;
  color: #000000;
  text-decoration: none;
  /*letter-spacing: 3.2px;*/
  background-image: linear-gradient(#ffffff, #ffffff 16px, #f0c52e 16px, #f0c52e 24px, #ffffff 24px, #ffffff);
}

.service-menu .active,
.service-menu__link:active {
  color: #f7e184;
  background-image: none;
  background-color: #000000;
}

.service-slide__title {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 47px;
  color: #000000;
  /*background-color: green;*/
}

.service-slide__description_1 {
  width: 426px;
}

.service-slide__description_2 {
  width: 437px;
}

.service-slide__description_3 {
  width: 425px;
}

/*////////////////////оформление раздела бренды*/

.brands {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
  padding-top: 23px;
  padding-bottom: 23px;
  /*background-color: tan;*/
}

.brands__item {
  width: 260px;
  /*opacity: 0.2;*/
}

.brands__item img {
  filter: grayscale(1);
  opacity: 0.2;
}

.brands__item:hover img {
  filter: grayscale(0);
  opacity: 1;
}

/*///////////////////////оформление раздела info*/

.info {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
  /*background-color: #faf0ca;*/
}

.info .about-us {
  position: relative;
  width: 480px;
}

.about-us__title,
.contacts__title {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  font-size: 47px;
  line-height: 47px;
  font-family: "GilroyExtraBold", "Arial, sans-serif";
  color: #000000;
}

.about-us__description,
.contacts__info {
  margin: 0;
  /*margin-top: 10px;*/
  margin-bottom: 30px;
  padding: 0;
}

.about-us__description {
  width: 475px;
}

.about-us .transport {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.about-us .transport__item {
  position: relative;
  padding-left: 36px;
  color: #000000;
  font-size: 16px;
  line-height: 40px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
}

.about-us .transport__item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #000000;
  opacity: 0.3;
}

.about-us__btn {
  padding-left: 22px;
  padding-right: 22px;
}

.contacts__info {
  width: 511px;
}

.contacts-map {
  width: 560px;
  height: 222px;
  margin-top: 40px;
  margin-bottom: 67px;
}

.info .contacts {
  position: relative;
  width: 560px;
}

.contacts__btn {
  border: none;
  padding-right: 40px;
  padding-left: 40px;
} 

.info .about-us::before,
.info .contacts::before {
  content: "";
  position: absolute;
  top: -53px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
} 

/*?////////////////////////////////////////////////оформление внутренней страницы*/

.inner-title {
  margin: 0;
  margin-left: 60px;
  margin-top: 38px;
  padding: 0;
  color: #000000;
  font-size: 47px;
  line-height: 47px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  background-color: rgba(70, 70, 70, 0.08);
}

.breadcrumbs {
  margin: 0;
  margin-left: 60px;
  margin-top: 18px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  display: inline;
  margin-right: 36px;
}

.breadcrumbs__item:not(.breadcrumbs__item_active)::after {
  position: absolute;
  content: "";
  top: 8px;
  right: -17px;
  width: 4px;
  height: 7px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -20px -20px;
  background-color: transparent;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.catalog-wrapper {
  margin-top: 40px;
  background-color: #fafaaa;
}

.catalog-container {
  width: 1200px;
  padding: 0 20px;
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-right: 60;*/
  /*padding-left: 80px;*/
  margin: 0 auto;
  display: flex;
  background-color: wheat;
}

/*/////////////////////оформление боковой панели с фильтром*/

.filter-aside {
  width: 328px;
  padding-left: 60px;
  background-color: #f0f0f0;
  
}

.filter-aside__title,
.filter-sort__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.filter-aside__title {
  padding-top: 27px;
  padding-bottom: 28px;
  background-color: #dddddd;
}

.assortment {
  width: 832px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  /*padding-left: 72px;*/
  justify-content: space-between;
  padding-bottom: 40px;
  background-color: azure;
}

.catalog-item {
  width: 360px;
  background-color: silver;
}

.paginator {
  width: 760px;
  margin-bottom: 72px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.08);
  /*background-color: red;*/
}

/*////////////////////////////////оформление футера*/

.page-footer {
  margin-top: 85px;
  padding-top: 60px;
  color: #ffffff;
  background-color: #464646;
}

.footer-logo {
  width: 165px;
}

.footer-logo__link {
  color: #f7e184;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  text-decoration: none;
}

.footer-logo__link:hover {
  color: #f0c52e;
}

.footer-logo__link:active {
  color: #f0c52e;
  opacity: 0.3;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
  /*background-color: tomato;*/
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
  width: 360px;
  padding: 0;
  margin: 0;
  list-style: none;
  /*background-color: tan;*/
}

.footer-menu .user-block {
  width: 100px;
  padding-top: 3px;
  padding-left: 32px;
  /*background-color: plum;*/
}

.footer-menu a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-menu .compare-block {
  padding-top: 3px;
}

.footer-menu .basket-block {
  padding-top: 3px;
}

.footer-menu .user-block__link::before {
  left: -26px;
  background-position: -20px -1419px;
}

.footer-menu .compare-block__link::before {
  top: 6px;
  left: -20px;
  background-position: -20px -961px;
}

.footer-menu .basket-block__link::before {
  left: -22px;
  background-position: -20px -220px;
}

.footer-menu .user-block__link:hover::before {
  left: -26px;
  background-position: -20px -1367px;
}

.footer-menu .compare-block__link:hover::before {
  top: 6px;
  left: -20px;
  background-position: -20px -911px;
}

.footer-menu .basket-block__link:hover::before {
  left: -22px;
  background-position: -20px -168px;
}

.footer-menu .user-block__link:active::before {
  left: -26px;
  background-position: -20px -1367px;
  opacity: 0.3;
}

.footer-menu .compare-block__link:active::before {
  top: 6px;
  left: -20px;
  background-position: -20px -911px;
  opacity: 0.3;
}

.footer-menu .basket-block__link:active::before {
  left: -22px;
  background-position: -20px -168px;
  opacity: 0.3;
}

.footer-middle {
  display: flex;
  /*justify-content: space-between;*/
  padding-top: 22px;
  padding-bottom: 30px;
  /*background-color: grey;*/
}

.footer-middle .address {
  width: 210px;
  margin: 0;
  margin-right: 160px;
  padding: 0;
  /*background-color: #fa00f0;*/
}

.footer-middle .footer-service {
  display: flex;
  /*justify-content: space-between;*/
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  /*background-color: salmon;*/
}

.footer-service-item__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
}

.footer-service-item__link_1 {
  margin-right: 36px;
}

.footer-service-item__link_2 {
  margin-right: 45px;
}

.footer-service-item__link:hover {
  opacity: 0.6;
}

.footer-service-item__link:active {
  opacity: 0.3;
}

.footer-middle .phone {
  width: 170px;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  margin-left: auto;
  /*background-color: gray;*/
}

.footer-bottom {
  display: flex;
  padding-top: 30px;
  padding-bottom: 65px;
  /*background-color: silver;*/
}

.footer-social {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 160px;
  margin-left: 500px;
}

.footer-social::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -500px;
  width: 80px;
  height: 7px;
  background-color: #f7e184;
}

.footer-social__link {
  width: 39px;
  height: 38px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-color: transparent;
  /*background-color: red;*/

  opacity: 0.7;
}

.footer-social__link_fb {
  background-position: -20px -1011px;
}

.footer-social__link_inst {
  background-position: -20px -1237px;
}

.footer-social__link_tw {
   background-position: -20px -1960px;
}

.footer-social__link:hover {
  opacity: 1;
}

.footer-social__link:active {
  opacity: 0.3;
}

.footer-copyright {
  width: 27px;
  margin-left: auto;
}

.footer-copyright__link {
  display: inline-block;
  width: 27px;
  height: 34px;
  vertical-align: top;
  background-image: url("../img/sprites.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -20px -1163px;
}

.footer-copyright__link:hover {
  background-position: -20px -1089px;
}

.footer-copyright__link:active {
  background-position: -20px -1089px;
  opacity: 0.3;
}

/*////////////////////оформление формы обратной связи*/

.modal-feedback {
  position: fixed;
  /*display: block;*/
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -276px;
  /*position: relative;*/
  margin-left: -480px;
  width: 960px;
  min-height: 553px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 93px;
  padding-bottom: 95px;
  color: #000000;
  background-color: #ffffff;
  /*background-color: #fffaaa;*/
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-feedback label {
  font-size: 18px;
  line-height: 18px;
/*  color: #000000;*/
  font-family: "GilroyExtraBold", "Arial", sans-serif;
}

.modal-feedback input {
  width: 360px;
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f3f3f3;
  border: 3px solid #f3f3f3;
}

.modal-feedback input:hover {
  background-color: #ededed;
  border: 3px solid #ededed;
}

.modal-feedback input:focus {
  color: #464646;
  background-color: #ffffff;
  border: 3px solid #cbcbcb;
  /*opacity: 0.5;*/
}

.modal-feedback input:invalid {
  background-color: #ffdada;
  border: 3px solid #ffdada;

}

.modal-feedback textarea {
  width: 760px;
  min-height: 156px;
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f3f3f3;
  border: none;
}

.half-width {
  display: inline-block;
  width: 360px;
  margin-right: 36px;
  margin-bottom: 33px;
  vertical-align: top;
}

.half-width:nth-of-type(2) {
  margin-right: 0;
}

.btn-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 54px;
  background-color: #f0c52e;
  border-radius: 50%;
  opacity: 0.5;
  border: none;
}

.btn-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11.5px;
  width: 23px;
  height: 22px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -20px -2038px;
  /*background-color: red;*/
  background-color: transparent;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:active::after {
  opacity: 0.3;
}

.modal-btn {
  padding-right: 34px;
  padding-left: 34px;
  border: none;
}

.modal-map {
  display: none;
  width: 960px;
  min-height: 559px;
}

